.CardMargin{
    margin-top: 100px;
}
.t-color{
    color: #FDC55E;
}
.t-size{
    font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.paraSize{
    font-family: Sofia Pro;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
@media only screen and (max-width: 768px) {
    .sizeImage{
      height: auto;
      
    }

  }
